<div class="hc-main-content">
  <div class="row">
    <div class="col-12">
      <mat-card class="mat-elevation-z3">
        <div class="row">
          <div class="col-12 col-sm mt-2">
            <mat-card-header>
              <mat-card-title>USED CARS AVAILABLE</mat-card-title>
            </mat-card-header>
          </div>
          <div class="col-auto">
            <div class="hc-action-button-row mb-3">
              <button mat-flat-button color="primary" (click)="onAddCar()">
                <mat-icon>add</mat-icon>
                ADD NEW
              </button>
              <!-- <button mat-flat-button color="primary" (click)="loadCars()">
                <mat-icon>refresh</mat-icon>
                REFRESH
              </button> -->
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <mat-card-content class="hc-card-content">
          <div class="row">
            <div class="col-12">
              <mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                  <mat-cell *matCellDef="let car">{{car.id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="brand">
                  <mat-header-cell *matHeaderCellDef>Brand</mat-header-cell>
                  <mat-cell *matCellDef="let car">{{car.brand}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="model">
                  <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
                  <mat-cell *matCellDef="let car">{{car.model}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="year">
                  <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
                  <mat-cell *matCellDef="let car">{{car.year}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="kilometers">
                  <mat-header-cell *matHeaderCellDef>Kilometers</mat-header-cell>
                  <mat-cell *matCellDef="let car">{{car.kilometers| number:'1.0':'en-US'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                  <mat-cell *matCellDef="let car">{{car.price | currency}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef class="text-center">
                    Actions
                  </mat-header-cell>
                  <mat-cell *matCellDef="let car" class="text-center">
                    <div class="hc-table-actions">
                      <button mat-mini-fab color="accent" matTooltip="Edit Car" class="mat-elevation-z1"
                        (click)="onEditCar(car)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-mini-fab color="accent" matTooltip="Delete Car" class="mat-elevation-z1"
                        (click)="onDeleteCar(car)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
              </mat-table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
