@import "~@angular/material/theming";

$primary: mat-palette($mat-hc-primary, 800);
$accent: mat-palette($mat-hc-accent, 500, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
