$mat-hc-primary: (
    50: #ffffff,
    100: #bdddff,
    200: #85c0ff,
    300: #3d9bff,
    400: #1f8bff,
    500: #007bff,
    600: #006ce0,
    700: #005dc2,
    800: #004fa3,
    900: #004085,
    A100: #ffffff,
    A200: #99caff,
    A400: #3395ff,
    A700: #1a88ff,
    contrast: (
        50: #000000,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);

$mat-hc-accent: (
  50 : #e8fae0,
  100 : #c6f2b3,
  200 : #a0ea80,
  300 : #79e14d,
  400 : #5dda26,
  500 : #40d400,
  600 : #3acf00,
  700 : #32c900,
  800 : #2ac300,
  900 : #1cb900,
  A100 : #e5ffe2,
  A200 : #b6ffaf,
  A400 : #88ff7c,
  A700 : #71ff63,
  contrast: (
      50 : #ffffff,
      100 : #ffffff,
      200 : #ffffff,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #ffffff,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff
  )
);
