<h1 mat-dialog-title class="text-center">CAR FORM</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="carForm">
        <mat-form-field>
          <mat-select placeholder="Select Brand" formControlName="brand">
            <mat-option *ngFor="let brand of brands" [value]="brand.value">
              {{ brand.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>
            <div *ngIf="form.brand.errors">
              <div *ngIf="form.brand.errors.required">This field is required</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Model" formControlName="model">
          <mat-error>
            <div *ngIf="form.model.errors">
              <div *ngIf="form.model.errors.required">This field is required</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select Year" formControlName="year">
            <mat-option *ngFor="let year of years" [value]="year.value">
              {{ year.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>
            <div *ngIf="form.year.errors">
              <div *ngIf="form.year.errors.required">This field is required</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Kilometers" formControlName="kilometers" min="0" max="1000000">
          <mat-error>
            <div *ngIf="form.kilometers.errors">
              <div *ngIf="form.kilometers.errors.required">This field is required</div>
              <div *ngIf="form.price.errors.min">Value must be beetween 1 and 1,000,000</div>
              <div *ngIf="form.price.errors.max">Value must be beetween 1 and 1,000,000</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Price" formControlName="price" min="0" max="10000000">
          <mat-error>
            <div *ngIf="form.price.errors">
              <div *ngIf="form.price.errors.required">This field is required</div>
              <div *ngIf="form.price.errors.min">Value must be beetween $1.00 and $10,000,000.00</div>
              <div *ngIf="form.price.errors.max">Value must be beetween $1.00 and $10,000,000.00</div>
            </div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Description" formControlName="description">
          <mat-error>
            <div *ngIf="form.description.errors">
              <div *ngIf="form.description.errors.required">This field is required</div>
            </div>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions align="center" class="avts-button-row">
  <button mat-button color="warn" [mat-dialog-close]="false">
    CANCEL
  </button>
  <button mat-flat-button cdkFocusInitial color="primary" (click)="onSaveCar()">
    SAVE
  </button>
</div>
